services:
  api-gateway:
    build:
      context: ./ApiGateway
    image: api-gateway:local
    ports:
      - "5000:8080" 
    depends_on:
      - userservice
      - authservice
      - assessmentservice
      - recommendationservice


  userservice:
    build:
      context: ./
      dockerfile: UserService.Api/Dockerfile
    ports:
      - "5001:8080"
    environment:
      #- ASPNETCORE_ENVIRONMENT=Development
      - INTERNAL_TOKEN=${INTERNAL_TOKEN}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - ConnectionStrings__UserDb=Host=user-postgres;Port=5432;Database=users;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    depends_on:
      - user-postgres
      
  user-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: users
    ports:
      - "5433:5432"
    volumes:
      - user_pgdata:/var/lib/postgresql/data
  
  
  
  authservice:
    build:
      context: ./
      dockerfile: AuthService.Api/Dockerfile
    ports:
      - "5002:8080"
    environment:
      #- ASPNETCORE_ENVIRONMENT=Development
      - Services__UserService__InternalToken=${INTERNAL_TOKEN}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ACCESS_EXPIRES_MINUTES=${JWT_ACCESS_EXPIRES_MINUTES}
      - JWT_REFRESH_EXPIRES_HOURS=${JWT_REFRESH_EXPIRES_HOURS}
      - ConnectionStrings__AuthDb=Host=auth-postgres;Port=5432;Database=auth;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    depends_on:
      - auth-postgres
    
  auth-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: auth
    ports:
      - "5434:5432"
    volumes:
      - auth_pgdata:/var/lib/postgresql/data
        

        
        
           
  assessmentservice:
    build:
      context: ./
      dockerfile: AssessmentService.Api/Dockerfile
    ports:
      - "5003:8080"
    environment:
      #- ASPNETCORE_ENVIRONMENT=Development
      - Services__UserService__InternalToken=${INTERNAL_TOKEN}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - ConnectionStrings__AssessmentDb=Host=assessment-postgres;Port=5432;Database=assessments;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    depends_on:
      - assessment-postgres
        
  assessment-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: assessments
    ports:
      - "5435:5432"
    volumes:
      - assessment_pgdata:/var/lib/postgresql/data
        

  recommendationservice:
    build:
      context: ./
      dockerfile: RecommendationService.Api/Dockerfile
    ports:
      - "5004:8080"
    environment:
      #- ASPNETCORE_ENVIRONMENT=Development
      - Services__UserService__InternalToken=${INTERNAL_TOKEN}
      - Services__AssessmentService__InternalToken=${INTERNAL_TOKEN}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - AI__IPR__ApiKey=${AI_IPR_API_KEY}
      - AI__IPR__BaseUrl=${AI_IPR_BASE_URL}
      - AI__IPR__Model=${AI_IPR_MODEL}
      - AI__LearningMaterial__ApiKey=${AI_LearningMaterial_API_KEY}
      - AI__LearningMaterial__BaseUrl=${AI_LearningMaterial_BASE_URL}
      - AI__LearningMaterial__Model=${AI_LearningMaterial_MODEL}
      - ConnectionStrings__RecommendationDb=Host=recommendation-postgres;Port=5432;Database=recommendations;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    depends_on:
      - recommendation-postgres
  
  recommendation-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: recommendations
    ports:
      - "5436:5432"
    volumes:
      - recommendation_pgdata:/var/lib/postgresql/data


volumes:
  assessment_pgdata:
  user_pgdata:
  auth_pgdata:
  recommendation_pgdata: